    .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        height: 100%;
    }

    .card-logo {
        width: 40px;
        height: 40px;
    }

    .card-text {
        margin-bottom: 8px;
    }

    .card-title {
        margin: 0;
        padding-top: 4px;
        font-size: .9em;
        cursor: pointer;
    }

    .card-subtitle {
        color: gray;
        font-size: .75em;
        margin: 0;
    }

    .card-button {
        padding: calc(var(--widget-width) / 28) calc(var(--widget-width) / 10);
        background-color: #4093EF;
        position: absolute;
        bottom: 0;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .card-button:hover {
        background-color: #0056b3;
    }

    /* card sizes */

    .size-1x1 {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .size-2x1 {
        grid-column: span 2;
        grid-row: span 1;
    }
    
    .size-1x2 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .size-1x2 .card-button {
        bottom: calc(var(--widget-width) + 1/2 * var(--widget-padding) - 2px);
    }
    
    .size-2x2 {
        grid-column: span 2;
        grid-row: span 2;
    }
    
    .size-2x1 .extra-div {
        background-color: #f3f3f3;
        width: calc(var(--widget-width) - 2 * var(--widget-padding));
        height: calc(var(--widget-width) - 2 * var(--widget-padding));
    }

    .size-2x1 .card-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .size-1x2 .extra-div {
        background-color: #f3f3f3;
        width: calc(var(--widget-width) - 2 * var(--widget-padding));
        height: calc(var(--widget-width) - 2 * var(--widget-padding));
        margin-top: auto;
    }

    .size-2x2 .extra-2x2 {
        background-color: #f3f3f3;
        width: calc(2 * var(--widget-width) - var(--widget-padding));
        height: calc(var(--widget-width) - 2 * var(--widget-padding));
        margin-top: auto;
    }

    .size-2x2 .card-button {
        position: absolute;
        top: 0px;
        bottom: auto;
        right: 0px;
    }

    /*****************/
    /* CARD SIZE BAR */
    /*****************/

    .card-trash-button {
        align-self: flex-end;
        margin-bottom: 10px;
        cursor: pointer;
        opacity: 1;
    }
    
    .card-size-bar {
        background-color: black;
        width: calc(.8 * var(--widget-width) - 2 * var(--widget-padding));
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 0%);
        justify-content: space-between;
        border-radius: 8px;
        padding: 4px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        display: flex;
    }
    
    .grid-item:hover .card-size-bar {
        opacity: 1;
        visibility: visible;
    }
    
    .card-size-bar button {
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        transition: transform 0.1s ease-in-out, background-color 0.2s;
    }

    .card-size-bar .selected {
        background-color: #fff;
        color: black;
    }
    
    .card-size-bar button svg {
        display: block;
        width: 100%;
        height: 100%;
    }

    .square-btn svg {
        scale: 1.1;
    }

    .square-btn2 svg {
        scale: 1.6;
    }

    .rectangle-btn svg {
        scale: 2.1;
    }

    .rectangle-btn2 svg {
        scale: 1;
    }
    
    .card-size-bar button:active {
        transform: scale(0.9);
    }
    
    .card-size-bar button:not(:disabled):active {
        background-color: rgba(255, 255, 255, 0.7);
    }

    .selected button:not(:disabled):active .selected {
        background-color:red
    }
    
    
    .card-size-bar button.disabled {
        color: rgba(255, 255, 255, 0.2);
        cursor: not-allowed;
    }
    
    /*********************/
    /* END CARD SIZE BAR */
    /*********************/