.grid-container {
    --widget-width: 175px; /* convert to dynamic */
    --widget-padding: 24px; /* convert to dynamic */
    display: grid;
    /* grid-template-columns: repeat(4, var(--widget-width));
    grid-auto-rows: minmax(var(--widget-width), auto); */
    grid-template-columns: repeat(4, 1fr); /* Crée 4 colonnes de taille égale */
    grid-auto-rows: minmax(var(--widget-width), auto); /* La hauteur des rangées s'ajuste automatiquement */
    gap: 10px;
    position: relative;
}

.grid-item {
    background: rgba(0, 0, 0, 0.1);
    border: 1px white solid;
    padding: var(--widget-padding);
    border-radius: 8px;
    height: 100%;
    box-sizing: border-box;
}
