.grid {
    width: 80%;
    /* background-color: red; */
    /* background-color: #EBEBEB; */
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 10px;
    row-gap: 10px;
}

.grid-item {
    /* background-color: wheat; */
    /* box-shadow: inset 0px 0px 0px 1px #000; */
    box-shadow: inset 0px 0px 0px 1px #EBEBEB;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.size-1x1 {
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1/1;
}

.size-2x1 {
    grid-column: span 2;
    grid-row: span 1;
}

.size-1x2 {
    grid-column: span 1;
    grid-row: span 2;
    padding-bottom: 100%;
}

.size-2x2 {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1/1;
}